

.welcome{
    text-align: center;
}

.welcome h1{
    font-size: 64px;
}

.welcome p{
    font-size: 20px;
}

.doc_links{
    margin-top: 200px;
}

.cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 160px;
}

.card:hover{
    transform: 1s;
    transform: scale(1.01);
}


.doc_links{
    margin-bottom: 100px;
}